/**
 * Author: Afif Al Mamun
 * Written on: 10-Jul-18
 * Project: TeslaRentalInventory
 **/

.root {
    -fx-background-color: #ffffff;
}

#topPane {
    -fx-background-color: #263238;
}

.button {
    -fx-background-color: #263238;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-border-radius: 0 0 0 0;
}

.button:pressed:hover {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-border-color: #37474F;
}


